body
{
    margin: 0 auto;
    width: 375px;

}
h1{
    font-family: "Bebas Neue", sans-serif; 
    font-size:40px;
    text-align: center;
}
h2{
    font-family: "Bebas Neue", sans-serif; 
    font-size:30px
}
h3{
    font-family: "Bebas Neue", sans-serif; 
    font-size: 25px;
}
nav a{
    font-family: "Bebas Neue", sans-serif; 
    font-size: 20px;
}
#social li{
    font-family: "Bebas Neue", sans-serif; 
    font-size: 20px;
}
footer {
    font-family: "Bebas Neue", sans-serif; 
    font-size: 20px;
}
p, li, nav, input{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.actions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.actions div{
    display:grid;
    grid-template-columns: 1fr;
    width: 100px;

}
#street-taco{
    width:100%;
}

#street-taco img{
    width: inherit;
}
#search{
    position: absolute;
    top: 50px;
    height: 40px;
    display: flex;
    align-items:center;
    width: inherit;
    justify-content: center;
}
#search input{
    height: 100%;
    border: 1px solid #EB5428;
}
#search svg{
    stroke: #f2f2f2;
    background-color: #EB5428;

}
nav{
    position: absolute;
    top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    width: inherit;
}
nav ul{
    width: inherit;
}
nav li{
    display: none;
}
nav li:first-child {
    display:inline-block;
    float:left;
}
nav li:last-child{
    display:inline-block;
    float:right;
}